.input-container {
  display: flex;
  width: 200px;
}

.input-class {
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  border: 1px solid #fff;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}